<a href="https://colab.research.google.com/github/jubayer8221/python-practice/blob/main/Day_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Find a Number is in the list or not using if else statement

my_list = [1, 2, 3, 4, 5]
value = int(input("Enter the number: "))

if value in my_list:
    print(f"{value} is in the list.")
else:
    print(f"{value} is not in the list.")

Enter the number: 6
6 is not in the list.

In [ ]:
#Find a Number is in the list or not using if else statement
my_list = [1, 2, 3, 4, 5]
value = int(input("Enter the number: "))

if value not in my_list:
    print(f"{value} is not in the list.")
else:
    print(f"{value} is in the list.")

Enter the number: 6
6 is not in the list.

In [ ]:
# Program to get user's name and display it in uppercase
name = input("Enter your name: ")
print("Your name in uppercase is:", name.upper())

Enter your name: jubayer
Your name in uppercase is: JUBAYER

In [ ]:
# Program to get user's age and convert it into seconds
age = int(input("Enter your age: "))

seconds_in_a_year = 365 * 24 * 60 * 60
age_in_seconds = age * seconds_in_a_year
print(f"Your age in seconds is: {age_in_seconds}")

Enter your age: 20
Your age in seconds is: 630720000

In [ ]:
# Program to get three numbers from the user and increase one value to each
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
num3 = int(input("Enter third number: "))


num1 += 1
num2 += 1
num3 += 1

print("The updated numbers are:", num1, num2, num3)

Enter first number: 1
Enter second number: 2
Enter third number: 3
The updated numbers are: 2 3 4

In [ ]:
#Program to get a number, find its square, and then find its square root

import math

number = float(input("Enter a number: "))

square = number ** 2
print(f"The square of {number} is: {square}")

square_root = math.sqrt(number)
print(f"The square root of {number} is: {square_root}")

Enter a number: 5
The square of 5.0 is: 25.0
The square root of 5.0 is: 2.23606797749979

In [82]:
# Program to get three numbers and perform the operation
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
num3 = int(input("Enter third number: "))

result = (num1 * num3) + num2

print(f"The result is: {result}")

Enter first number: 55
Enter second number: 5
Enter third number: 5
The result is: 280

In [ ]:
#Program to get welcome message using if else statment

msg = int(input("Enter the message: "))

if msg >= 39:
    print("Sorry you can not participant in the programm")
else:
    print("Congratulation, you can take participant is this program")

Enter the message: 40
Sorry you can not participant in the programm

In [81]:
#printing Even or Odd number using if else statement
num = int(input("Enter a number: "))

if num % 2 == 0:
  print(f"{num} is even number")
else:
  print(f"{num} is odd number")

Enter a number: 10
10 is even number

In [ ]:
marks = int(input("Enter your marks: "))

if marks >= 40:
  print("You are pass")
else:
  print("You are fail")

In [42]:
name = str(input("Enter your name: "))
age = int(input("Enter your age:"))

if age >= 18:
  print(f"Hey {name}! your age is {age} and you are eligible for vote")
else:
  print("You are not eligible for vote")

Enter your name: jubayer
Enter your age:20
Hey jubayer! your age is 20 and you are eligible for vote

In [ ]:
name = str(input("Enter your name: "))
age = int(input("Enter your age:"))

if age >= 18:
  print(f"Hey {name}! your age is {age} and you are eligible for vote")
else:
  print("You are not eligible for vote")

In [45]:
num1 = int(input("Enter first number: "))

num2 = num1 + 1
num3 = num1 - 1

print(f"The previous number is {num3} And next number is {num2} and ")

Enter first number: 5
The previous number is 4 And next number is 6 and

In [46]:
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))

square = num1 ** 2
Cube = num2 ** 3

print(f"The square of {num1} is {square} and Cube of {num2} is {Cube}")

Enter first number: 3
Enter second number: 3
The square of 3 is 9 and Cube of 3 is 27

In [50]:
for var in range(10, 20):
  print(var)

10
11
12
13
14
15
16
17
18
19

In [55]:
#Program to generate numbers from 100 to 1 only odd number

i = 100
while i >= 1:

  print(i)
  i -= 2

100
98
96
94
92
90
88
86
84
82
80
78
76
74
72
70
68
66
64
62
60
58
56
54
52
50
48
46
44
42
40
38
36
34
32
30
28
26
24
22
20
18
16
14
12
10
8
6
4
2

In [56]:
# Generate odd numbers from 100 down to 1
for num in range(99, 0, -2):
    print(num)

99
97
95
93
91
89
87
85
83
81
79
77
75
73
71
69
67
65
63
61
59
57
55
53
51
49
47
45
43
41
39
37
35
33
31
29
27
25
23
21
19
17
15
13
11
9
7
5
3
1

In [57]:
# Generate Even numbers from 100 down to 1
for num in range(100, 0, -2):
    print(num)

100
98
96
94
92
90
88
86
84
82
80
78
76
74
72
70
68
66
64
62
60
58
56
54
52
50
48
46
44
42
40
38
36
34
32
30
28
26
24
22
20
18
16
14
12
10
8
6
4
2

In [63]:
total_sum = 0

for num in range(10, 51):
      print(f"{num}")
      total_sum += num
print("The sum of numbers from 10 to 50 is:", total_sum)

10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
The sum of numbers from 10 to 50 is: 1230

In [66]:
num = int(input("Enter a Number: "))

divisor = 1

while divisor <= num:
    if num % divisor == 0:
        print(divisor)
    divisor += 1

Enter a Number: 9
1
3
9

In [73]:
start = int(input("Enter the start number: "))
end = int(input("Enter the end number: "))

if start < end:
  while start <= end:
    print(start)
    start += 1
else:
    print("\nThere is something wrong! \nStarting number should be less then Ending number: ")

Enter the start number: 7
Enter the end number: 5

 There is something wrong!
Starting number should be less then Ending number:

In [80]:
#generate even number 1 to 20 using while loop

num1 = 2
print("Even number is:  ",)
while num1 <= 20:
  print(f"{num1}")
  num1 += 2

print("Odd number is: ")

num2 = 1
while num2 <= 20:
  print(f"{num2}")
  num2 += 2

Even number is:
2
4
6
8
10
12
14
16
18
20
Odd number is:
1
3
5
7
9
11
13
15
17
19